@model Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.NombreUsuario</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@Model.NombreUsuario</a>.</p>    
</div>
