@*@model WhatWeDo.Models.Interfaces.IEvento*@
@model List<Evento>
@{
    //System.Reflection.PropertyInfo[] lstEventos = Model.GetType().GetProperties();
    ViewData["Title"] = "Todos";
}
<h1 class="display-4">Eventos</h1>
<div class="row">
    @foreach (Evento oEvento in @Model)
    {
        <div class="col-12" style="margin-bottom:5px;">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center card-title">@oEvento.TituloEvento</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img src=@oEvento.ImgSource
                             class="rounded align-self-center" style="width: 115px;height: 90px;">
                        <div class="col">
                            <p class="card-text">@oEvento.DescEvento</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-primary m-1">Aceptar</a>
                                <a href="#" class="btn btn-primary m-1">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    
</div> 