@model Usuario
@{
    Layout = "/Views/Auth/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-10">
        <section>
            <form asp-controller="Auth" asp-action="IniciarSesion" id="account" method="post">
                <h2>¡Bienvenido!</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Mail" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                    <label class="form-label">Email</label>
                    <span class="text-danger"></span>
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Pass" type="password" class="form-control" autocomplete="contraseña-actual" aria-required="true" placeholder="Contraseña" />
                    <label class="form-label">Contraseña</label>
                    <span  class="text-danger"></span>
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </div>               
                <div class="col-12 align-self-center">
                    <div class="form-floating mb-3 ">
                        <div class="form-check form-switch d-flex justify-content-center">
                            <input asp-for="EsEmpresa" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Cuenta de empresa</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">
                        Log In
                    </button>
                    @if (ViewBag.Alert != null)
                    {
                        <div class="alert alert-dismissable alert-danger" style="margin-top:10px">
                            <div class="row">
                                <strong>¡Error!</strong>
                            </div>
                            <div class="row">
                                <label class="form-label">@ViewBag.Alert</label>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </section>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#linkLogIn").addClass("active");
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
