@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .categoria-checkbox {
        width: 200px;
        height: 200px;
        background-color: white;
        border: 1px solid orange;
        border-radius: 5px;
        box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.5);
        transition: background-color 2s ease;
        cursor: pointer;
    }

    .selected {
        background-image: linear-gradient(orange, #343a40);
        border:none;
    }

    .selected::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #343a40;
        opacity: 0;
        transition: opacity 2s ease; 
    }

    <!-- Estilos del checkbox-->
    .check {
        cursor: pointer;
        position: relative;
        margin: auto;
        width: 18px;
        height: 18px;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
    }

    .check:before {
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(34, 50, 84, 0.03);
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .check svg {
        position: relative;
        z-index: 1;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: orange;
        stroke-width: 1.5;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
    }

    .check svg path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
    }

    .check svg polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
    }
    .check:hover:before {
        opacity: 1;
    }

    .check:hover svg {
        stroke: var(--accent-color, orange);
    }

    #cbxGastronomia:checked + .check svg, #cbxOcio:checked + .check svg, #cbxDeportes:checked + .check svg,
    #cbxAALibre:checked + .check svg, #cbxArteYCultura:checked + .check svg, #cbxArteYCultura:checked + .check svg {
        stroke: var(--accent-color, orange);
    }

        #cbxGastronomia:checked + .check svg path, #cbxOcio:checked + .check svg path, #cbxDeportes:checked + .check svg path ,
        #cbxAALibre:checked + .check svg path, #cbxArteYCultura:checked + .check svg path, #cbxTegnologiaYCiencia:checked + .check svg path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
    }

    #cbxGastronomia:checked + .check svg polyline, #cbxOcio:checked + .check svg polyline, #cbxDeportes:checked + .check svg polyline,
        #cbxAALibre:checked + .check svg polyline, #cbxArteYCultura:checked + .check svg polyline, #cbxTegnologiaYCiencia:checked + .check svg polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
        }

    
    /*Estilos para el boton*/
    .btn {
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em;
        display: inline-block;
        border-radius: 5px;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: orange;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .btn::after {
        background-color: orange;
    }

    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    /*Estilo del texto para saltar la configuracion*/
    .arrow-hover a {
        display: inline;
        position: relative;
        transition: color 0.5s linear;
        color: black;
    }

    .arrow-hover a:hover {
        color: orange;
        transform: translateX(5px);
    }

    .arrow-hover .arrow-icon {
        transition: transform 0.2s ease;
    }

    .arrow-hover a:hover .arrow-icon {
        transform: translateX(5px);
    }
</style>

<form class="preferences-form p-3" asp-controller="Auth" asp-action="GetPreferences" id="preferences" method="post">

    <div class="container px-5">
        <div class="row mb-5 d-block">
            <div class="col-md-12">
                <h1 class="display-4"><strong>¡Personaliza tus Preferencias!</strong></h1>
                <p class="lead">Selecciona las categorías que más te interesen para recibir contenido relevante y emocionante.</p>
            </div>
        </div>
        <div class="row mb-3 d-flex justify-content-center px-3">
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center">
                <div class="categoria-checkbox gradient-bg p-2" id="cGastronomia" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/gastronomia.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;"> Gastronomía </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxGastronomia" style="display: none;">
                        <label for="cbxGastronomia" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center" >
                <div class="categoria-checkbox gradient-bg p-2" id="cOcio" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/ocio.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;"> Ocio </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxOcio" style="display: none;">
                        <label for="cbxOcio" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center">
                <div class="categoria-checkbox gradient-bg p-2" id="cDeportes" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/deportes.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;"> Deportes </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxDeportes" style="display: none;">
                        <label for="cbxDeportes" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 d-flex justify-content-center px-3">
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center">
                <div class="categoria-checkbox gradient-bg p-2" id="cbxAALibre" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/aaLibre.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;"> Al aire libre </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxAALibre" style="display: none;">
                        <label for="cbxAALibre" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center">
                <div class="categoria-checkbox gradient-bg p-2" id="cbxArteYCultura" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/arteycultura.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;"> Arte y Cultura </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxArteYCultura" style="display: none;">
                        <label for="cbxArteYCultura" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-2 d-flex justify-content-center align-content-center">
                <div class="categoria-checkbox gradient-bg p-2" id="cTecnologiaYCiencia" onclick="toggleCategory(this)">
                    <div class="image-card">
                        <img src="../Imagenes/Preferencias/tecyciencia.jpg" class="img-fluid" style="border-radius:5px 5px 0px 0px;" />
                    </div>
                    <div class="text-card d-flex justify-content-center align-content-center" style="border-radius:0px 0px 5px 5px; background-color:orange;">
                        <h6 style="color:black;">Tecnología y Ciencia </h6>
                    </div>
                    <div class="checkbox-card p-2 d-flex justify-content-center">
                        <input type="checkbox" id="cbxTegnologiaYCiencia" style="display: none;">
                        <label for="cbxTegnologiaYCiencia" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-block">
            <div class="col-mb-12 mb-2 arrow-hover d-flex justify-content-end">
                <a class="lead" href="@Url.Action("Eventos","Home")" style="text-decoration: none; cursor: pointer; ">
                    Omitir este paso por ahora y recordar mas tarde
                    <span class="arrow-icon"><i class="fas fa-arrow-right ml-2"></i></span>
                </a>
            </div>
            <div class="col-mb-12 arrow-hover d-flex justify-content-center">
                <button class="btn" type="submit" id="btnGuardarPreferencias">Guardar Preferencias</button>
            </div>
        </div>
    </div>
</form>

<script>
    function toggleCategory(container) {
        var checkbox = container.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;

        container.classList.toggle('selected');
    }

    // Agrega un evento de clic a todas las etiquetas de checkbox
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('click', function (event) {

            var container = checkbox.closest('.categoria-checkbox');
            container.classList.toggle('selected');
        });
    });
</script>

