@model Evento
@{
    ViewData["Title"] = "Crear Evento";
}
<!-- Iconos de 'Font Awesome' -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<style>
    .icon-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px; /* Ajusta el valor para controlar la posición horizontal */
    }

        .icon-container i {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            display: none;
        }

    /*Estilos para el boton*/
    .btn {
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2em;
        display: inline-block;
        border-radius: 5px;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: orange;
    }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        .btn::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }

        .btn::after {
            background-color: orange;
        }

        .btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
</style>

<form asp-controller="EventosEmpresa" asp-action="InsertEvento" id="crearEventoForm" method="post" enctype="multipart/form-data">
    <div>
        <h2>Crear evento</h2>
        <hr />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="d-none">
        <input id="IdEvento" asp-for="IdEvento" class="form-control" aria-required="true" placeholder="IdEvento" />
        <label>ID</label>
    </div>
    <div class="row">
        <div class="col-6 mb-2">
            <div class="form-floating mb-3 position-relative">
                <input id="Titulo" asp-for="Titulo" class="form-control" aria-required="true" placeholder="Titulo" />
                <label>Titulo</label>
                <span class="text-danger"></span>
                <div class="icon-container ">
                    <i id="checkTitulo" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Título válido"></i>
                    <i id="exclamationTitulo" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="El título debe tener entre 10 a 50 caracteres y contener solo letras y números"></i>
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-floating mb-3">
                @Html.DropDownList("direccion", null, "Seleccionar...", new{@class="form-select"} )
                <label>Direccion</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            <div class="form-floating mb-3 position-relative">
                <textarea class="form-control" style="height:5%" asp-for="Descripcion" id="Descripcion"></textarea>
                <label>Descripcion</label>
                <span class="text-danger"></span>
                <div class="icon-container ">
                    <i id="checkDescripcion" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Descripcion válida"></i>
                    <i id="exclamationDescripcion" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="La descripción debe tener entre 40 y 255 caracteres"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col align-self-center">
            <div class="row">
                <div class="col mb-2">
                    <div class="form-floating mb-3 position-relative">
                        <input id="FechaInicio" asp-for="FechaInicio" type="date" class="form-control" aria-required="true" placeholder="Fecha inicio" />
                        <label>Fecha inicio</label>
                        <span class="text-danger"></span>
                        <div class="icon-container ">
                            <i id="checkFechaInicio" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Fecha válida"></i>
                            <i id="exclamationFechaInicio" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="La fecha de inicio no puede ser posterior a la fecha final"></i>
                        </div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="form-floating mb-3">
                        <input id="FechaFin" asp-for="FechaFin" type="date" class="form-control" aria-required="true" placeholder="Fecha fin" />
                        <label>Fecha fin</label>
                        <span class="text-danger"></span>
                        <div class="icon-container">
                            <i id="checkFechaFin" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Fecha válida"></i>
                            <i id="exclamationFechaFin" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="La fecha de final no puede ser anterior a la fecha inicio"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <div class="form-floating mb-3 position-relative">
                        <input id="PlazasMaximas" asp-for="PlazasMaximas" type="number" class="form-control" aria-required="true" placeholder="Aforo" />
                        <label>Aforo</label>
                        <span class="text-danger"></span>
                        <div class="icon-container ">
                            <i id="checkAforo" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Aforo válido"></i>
                            <i id="exclamationAforo" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="El aforo de un evento no puede ser inferior a 20 personas"></i>
                        </div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="form-floating mb-3">
                        <input id="Precio" asp-for="Precio" type="number" step=".01" class="form-control" aria-required="true" placeholder="Precio" />
                        <label>Precio</label>
                        <span class="text-danger"></span>
                        <div class="icon-container">
                            <i id="checkPrecio" class="fas fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="top" title="Precio"></i>
                            <i id="exclamationPrecio" class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="El precio no puede estar vacio, valor minimo 0"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <img id="img" src="https://wpdirecto.com/wp-content/uploads/2017/08/alt-de-una-imagen.png" style="height: 200px; width: 200px;"
                 class="rounded float-right" alt="...">
        </div>
    </div>
    <div class="col" style="margin-top:3%">
        <input id="subirImg" type="file" class="form-control" name="Imagen" />
    </div>
    <div class="row" style="margin-top:3%">
        <div class="col-6 mb-2">
            <div class="form-floating mb-3 position-relative">
                <div class="form-floating mb-3">
                    @Html.DropDownList("descuento", null, "Seleccionar...", new{@class="form-select"} )
                    <label>Descuento</label>
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-floating mb-3">
                @Html.DropDownList("categoria", null, "Seleccionar...", new{@class="form-select"} )
                <label>Categoria</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <div class="col-lg-2 col d-flex justify-content-start">
                <button id="insertEventoSubmit" type="submit" class="btn btn-sm btn-warning">Aceptar</button>
            </div>
            <div class="col-lg-2 col d-flex justify-content-end ">
                <a class="btn btn-sm btn-warning" asp-controller="User" asp-action="Cancelar">Cancelar</a>
            </div>
        </div>

        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-dismissable alert-danger" style="margin-top:10px">
                <div class="row">
                    <strong>¡Error!</strong>
                </div>
                <div class="row">
                    <label class="form-label">@ViewBag.Alert</label>
                </div>
            </div>
        }
    </div>

</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/event.js"></script>


