@model Usuario
@{
    ViewData["Title"] = "Modify";
}

<form  id="modifyForm" method="post">
    <h2 class="text-warning">Modifica tus datos.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="Nombre" class="form-control " autocomplete="firstname" aria-required="true" placeholder="nombre" />
                <label>Nombre</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="Mail" class="form-control  rounded-pill" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                <label>Email</label>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input class="form-control  " autocomplete="username" aria-required="true" placeholder="C/Avenue,23" />
                <label>Direccion</label>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="Pass" type="password" class="form-control  " autocomplete="new-password" aria-required="true" placeholder="contraseña" id="Password1"/>
                <label>Contraseña</label>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="Pass" type="password" class="form-control  " autocomplete="new-password" aria-required="true" placeholder="contraseña" id="Password2"/>
                <label>Confirmar Contraseña</label>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 ">
            <label id="message" class="text-light form-control bg-danger mb-3"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button id="changeSubmit" type="submit" class="w-100 btn btn-lg btn-primary " onclick="aplicar();">Aplicar</button>
        </div>
        <div class="col-2">
            <button id="cancelSubmit" type="submit" class="w-100 btn btn-lg btn-warning ">Cancelar</button>
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#linkRegister").addClass("active");


    function aplicar(){
        console.log(document.getElementById("Password1").value);
        if(document.getElementById("Password1").value != document.getElementById("Password2").value){
            document.getElementById("message").innerHTML = "Las contraseñas debén coincidir";
            //alert("Las contraseñas debén coincidir");
        }else{
            if(document.getElementById("Password1").value==""){
                document.getElementById("message").innerHTML = "Se debe especificar una contraseña";
                //alert("Se debe especificar una contraseña");
            }
        }
    }
</script>

